@using Microsoft.AspNet.Identity
@Html.AntiForgeryToken()

@{ 

}

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Домашняя страница " + User.Identity.GetUserName(), "Main")</li>
        @*<li>@Html.ActionLink("Домашняя страница " + User.Identity.GetUserName(), "Manage", "Home")</li>*@
        <li>@Html.ActionLink("Выход", "Logout", "Home")</li>
    </ul>
}
else
{
    //Говорит о том что класс такой располагаем справа
    //   а внутри передаваемый текст в действие GET Login, внутри контроллера AccountController
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Регистрация", "Register", "Home")</li>
    </ul>
}
