@model TestApp2.Models.UserListViewModel
@using TestApp2.Extensions;

@{
    ViewBag.Title = "Список пользователей";
 }

<h2>Список пользователей</h2>

<p>
    @Html.ActionLink("Добавить нового пользователя", "CreateUser")
</p>

<table class="table">
    <tr>
        @if (Model.Users.Count() != 0)
        {
            <td>
                @Html.SortLink("Имя пользователя", "UserName", "ShowUsers", "Admin", new RouteValueDictionary { })
            </td>
            @*<td>
                @Html.SortLink("Номер телефона", "PhoneNumber", "ShowUsers", "Admin", new RouteValueDictionary { })
            </td>*@
            <td>
                @Html.SortLink("Роль", "Role", "ShowUsers", "Admin", new RouteValueDictionary { })
            </td>
            <td>
                @Html.SortLink("Статус пользователя", "Status", "ShowUsers", "Admin", new RouteValueDictionary { })
            </td>
        }
        else
        {
            @Html.Label("Похоже, что в системе пока нет сохраненных пользователей");
        }
    </tr>

    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@item.UserName</td>
            @*<td>@item.PhoneNumber</td>*@
            <td>@item.Role</td>
            <td>
                @item.Status
                <br />
                @Html.ActionLink("изменить статус", "ChangeStatus")
            </td>
            <td>
                @Html.ActionLink("Редактировать пользователя", "EditUser", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
